### project ###
HELP.md
.gradle
build/

./app/*/build/
./app/auth-api/logs
./app/order-api/logs
./app/*/.gradle

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
